@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ShopMyPham.Models.Customer>
@{
    int CurrentPage = ViewBag.CurrentPage;
    int PageNext = CurrentPage + 1;
    ViewData["Title"] = "Danh sách khách hàng "+ CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home me-1"></i>Home</a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">Danh sách khách hàng: page @CurrentPage</a>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row align-items-center mb-5"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select "><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="DataTables_Table_0_filter" class="dataTables_filter float-end"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover e-commerce-table dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting">ID</th>
                                        <th class="sorting">Họ và Tên</th>
                                        <th class="sorting">Số điện thoại</th>
                                        <th class="sorting">Email</th>
                                        <th class="sorting">Địa chỉ</th>
                                        <th class="sorting">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="">
                                                    @item.CustomerId
                                                </td>
                                                <td>
                                                    @item.FullName
                                                </td>
                                                <td>
                                                    @item.Phone
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @item.Address
                                                </td>
                                                <td>
                                                    @item.FullName
                                                </td>
                                                <td class="text-end">
                                                    <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-success">View</a>
                                                    <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-warning">Edit</a>
                                                    <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="pagination-area pt-10">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        @if (CurrentPage > 1)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="/Admin/AdminCustomers?page=@(CurrentPage - 1)" aria-label="Previous">
                                                    <span class="fa fa-chevron-left"></span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="/Admin/AdminCustomers" aria-label="Previous">
                                                    <span class="fa fa-chevron-left"></span>
                                                </a>
                                            </li>
                                        }

                                        <li class="page-item active"><a class="page-link" href="/Admin/AdminCustomers?page=@CurrentPage">@CurrentPage</a></li>
                                        <li class="page-item"><a class="page-link" href="/Admin/AdminCustomers?page=@PageNext">@PageNext</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="/Admin/AdminCustomers?page=@PageNext" aria-label="Next">
                                                <span class="fa fa-chevron-right"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>