@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ShopMyPham.Models.Category>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách Danh mục" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <span class="breadcrumb-item active">Danh sách Danh mục : trang @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body  mt-4">
        <div class="row mb-7">

            <div class="col-lg-10 text-right">
            </div>
            <div class="col-lg-2">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminCategories" asp-action="Create"><i class="fa-solid fa-plus"></i><span class="ps-3">Thêm Danh mục</span></a>
            </div>
        </div>

        <div class="table-responsive mt-4">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên danh mục</th>
                        <th>Trạng thái</th>
                        <th>Ordering</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/category/{item.Alias}";
                            <tr>
                                <td>@item.CateId</td>
                                <td><a target="_blank" href="@url">@item.CateName</a></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot me-4"></div>
                                        <div>Public</div>
                                    </div>
                                </td>
                                <td>@item.Ordering</td>
                                <td>
                                    <a class="btn btn-primary btn-tone me-2" asp-area="Admin" asp-controller="AdminCategories" asp-action="Details" asp-route-id="@item.CateId">Chi tiết</a>
                                    <a class="btn btn-secondary btn-tone me-2" asp-area="Admin" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@item.CateId">Sửa</a>
                                    <a class="btn btn-success btn-tone me-2" asp-area="Admin" asp-controller="AdminCategories" asp-action="Delete" asp-route-id="@item.CateId">Xóa</a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

