@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ShopMyPham.Models.Product>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách sản phẩm " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<div class="main-content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home me-1"></i>Home</a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index"> : Danh sách sản phẩm </a>
                <span class="breadcrumb-item active">Danh sách sản phẩm : page @CurrentPage</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row mt-4">
                <div class="col-lg-8 col-6">
                    <div class="d-md-flex">
                        <div class="mb-3 me-3">
                            <select id="txtCateId" name="txtCateId" asp-items="ViewBag.DanhMuc" class="custom-select" style="min-width: 180px;">
                                <option selected value="">Chọn Danh mục</option>
                                <option value="all">Chọn tất cả</option>                            
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <select class="custom-select" style="min-width: 180px;">
                                <option selected>Status</option>
                                <option value="all">All</option>
                                <option value="instock">In Stock</option>
                                <option value="outOfstock">Out of Stock</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 text-end" >
                    <a class="btn btn-primary" asp-controller="AdminProducts" asp-action="Create" >
                        <i class="fa-solid fa-plus"></i>                        <span>Thêm sản phẩm</span>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row align-items-center mb-5"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select "><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="DataTables_Table_0_filter" class="dataTables_filter float-end">
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="keyword" name="keyword">
                                    <button class="btn btn-outline-primary" type="submit">Search</button>
                                </form>
                    </div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover e-commerce-table dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting">ID</th>
                                        <th class="sorting">Tên sản phẩm</th>
                                        <th class="sorting">Danh mục</th>
                                        <th class="sorting">Giá</th>
                                        <th class="sorting">Trạng thái</th>
                                        <th class="sorting">#</th>
                                    </tr>
                                </thead>
                                <tbody id="record-table">
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ProductId</td>
                                                <td>
                                                    <div class="d-flex align-items-center"></div>
                                                    <img class="img-fluid rounded" src="~/assets/images/about17.jpg">
                                                    <h6 class="mb-3 ms-3">@item.ProductName</h6>
                                                </td>
                                                <td>@item.Cate.CateName</td>
                                                <td>@item.Price.Value.ToString("#,##0") VNĐ</td>
                                                <td>@item.UnitsInstock</td>
                                                <td>
                                                    @if (@item.UnitsInstock > 0)
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="badge badge-success badge-dot me-3"></div>
                                                            <div>In Stock</div>
                                                        </div>
                                                    }
                                                </td>
                                                <td class="text-end">
                                                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-success">View</a>
                                                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-warning">Edit</a>
                                                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div aria-label="Page navigation example">
                                <ul class="pagination">
                                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-route-CateId="$ViewBag.CurrentPage" asp-action="Index"></pager>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function(){
            jQuery("txtCateId").change(function (){
                var CateId = jQuery(this).children(":selected").attr("value");
                CateId = parseFloat(CateId);
                $('#txtCateId option')
                    .removeAttr('selected');
                $("txtCateId > [value=" + CateId + "]").attr("selected","true");
                
                $.ajax({
                    url: '/Admin/AdminProducts/Fillter',
                    datatype: "json",
                    type: "GET",
                    data:{
                        CateId: CateId
                    },
                    async: true,
                    success: function(results){
                        if(results.status == "success"){
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function(xhr){
                        alert('error');
                    }
                })
            })
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

        })
    </script>
}

